<!DOCTYPE html>
<html>
  
  <body>
    <h2>Form Costumers</h2>
	<hr>
    <table>
        <form action="/costumers/add" method="post">
            <tr>
                <td>Costumer Name</td>
                <td>:</td>
                <td><input type="text" name="name"></td>
            </tr>
            <tr>
                <td>Email</td>
                <td>:</td>
                <td><input type="text" name="email"></td>
            </tr>
            <tr>
                <td>Address</td>
                <td>:</td>
                <td><input type="text" name="address"></td>
            </tr>
            <tr>
                <td>City</td>
                <td>:</td>
                <td><input type="text" name="city"></td>
            </tr>
            <tr>
                <td>Postal Code</td>
                <td>:</td>
                <td><input type="number" name="postalcode"></td>
            </tr>
            <tr>
                <td>Country</td>
                <td>:</td>
                <td><input type="text" name="country"></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td><input type="submit"></td>
            </tr>
        </form>
    </table>
	<hr>
  </body>
</html>
